{% extends "base.html" %}

{% block content%}
   
{% if user.is_staff and voter.is_held is True and not voter.call_seven and not voter.took_survey and voter.valid_phone%}

<h2><u><font color="red">Note for Supervisors:</u></h2></font>
This voter has been placed on hold until {{voter.supervisor_hold_date}} They can still be looked up, but they will not appear using
the "Make a Call" button.

<hr>
{% endif %}   

{% if not voter.call_seven and not voter.took_survey and voter.valid_phone%}  
<i>Please copy and paste this voter's ID number into Qualtrics, call them, and then record what happens below. </i>
{% endif %}

<br><br>
    
<b>Name:</b> {{ voter }} <br>
<b>ID Number / Access Code:</b> {{ voter.respondent_id }}<br>
<b>Wave:</b> {{ voter.get_respondent_wave_display }} <br>
<b>Phone Number:</b> {% if voter.get_phone_number is 1%} <i>There was an error getting a phone number. This might be becasuse all
phone numbers for this voter have been marked invalid. If you see this error, just click "Make a call" again to try a different voter.</i> {% endif %}
{% if voter.get_phone_number is not 1%} {{voter.get_phone_number.phone_no}} {% endif %}

<br><br>

{% if not voter.call_three and not voter.took_survey and voter.valid_phone%} 
{% if not voter.first_call_made%}This is the <b>first</b> call.{% endif %}
{% if voter.first_call_made and not voter.second_call_made %}This is the <b>second</b> call. <br><br>{% endif %}
{% if voter.first_call_made and voter.second_call_made and not voter.third_call_made %}This is the <b>third</b> call. <br><br>{% endif %}
{% endif %}

{% if voter.first_call_made%} <b><u>First Call Information:</b></u> <br>
<b>Time of First Call:</b> {{voter.call_one_time}} <br>
<b>User Who Made the First Call:</b> {{voter.call_one_user}} <br>
<b>First Call Outcome:</b> {{voter.get_call_one_outcome_display}}
{% endif %}

{% if voter.second_call_made%} <br><br><b><u>Second Call Information:</b></u> <br>
<b>Time of Second Call:</b> {{voter.call_two_time}} <br>
<b>User Who Made the Second Call:</b> {{voter.call_two_user}} <br>
<b>Second Call Outcome:</b> {{voter.get_call_two_outcome_display}}
{% endif %}

{% if voter.third_call_made%} <br><br><b><u>Third Call Information:</b></u> <br>
<b>Time of Third Call:</b> {{voter.call_three_time}} <br>
<b>User Who Made the Third Call:</b> {{voter.call_three_user}} <br>
<b>Third Call Outcome:</b> {{voter.get_call_three_outcome_display}}
{% endif %}

{% if voter.fourth_call_made%} <br><br><b><u>Fourth Call Information:</b></u> <br>
<b>Time of Fourth Call:</b> {{voter.call_four_time}} <br>
<b>User Who Made the Fourth Call:</b> {{voter.call_four_user}} <br>
<b>Fourth Call Outcome:</b> {{voter.get_call_four_outcome_display}}
{% endif %}

{% if voter.fifth_call_made%} <br><br><b><u>Fifth Call Information:</b></u> <br>
<b>Time of Fifth Call:</b> {{voter.call_five_time}} <br>
<b>User Who Made the Fifth Call:</b> {{voter.call_five_user}} <br>
<b>Fifth Call Outcome:</b> {{voter.get_call_five_outcome_display}}
{% endif %}

{% if voter.sixth_call_made%} <br><br><b><u>Sixth Call Information:</b></u> <br>
<b>Time of Sixth Call:</b> {{voter.call_six_time}} <br>
<b>User Who Made the Sixth Call:</b> {{voter.call_six_user}} <br>
<b>Sixth Call Outcome:</b> {{voter.get_call_six_outcome_display}}
{% endif %}

{% if voter.seventh_call_made%} <br><br><b><u>Seventh Call Information:</b></u> <br>
<b>Time of Seventh Call:</b> {{voter.call_seven_time}} <br>
<b>User Who Made the Seventh Call:</b> {{voter.call_seven_user}} <br>
<b>Seventh Call Outcome:</b> {{voter.get_call_seven_outcome_display}}
{% endif %}


{% if not voter.call_seven and not voter.took_survey and voter.valid_phone%} 
<br><br>
<u>What happened when you called this voter? </u><br> <br> 

<form action="{% url 'voters:result' voter.id %}" method="post">
{% csrf_token %}
    <input type="radio" name="result" id="Took Survey" value="TS" />
    <label for="TS"> The voter <b>took the survey.</b> </label><br /><br>
    
    <input type="radio" name="result" id="Not Home" value="NH" />
    <label for="NH"> The voter <b>wasn't home</b> and you <i>didn't</i> leave a voicemail. </label><br /><br>
    
    <input type="radio" name="result" id="Left Voicemail" value="LV" />
    <label for="LV"> The voter wasn't home and you <i>did</i> leave a <b>voicemail.</b> </label><br /><br>
    
    <input type="radio" name="result" id="Requested Callback" value="CB" />
    <label for="RC"> The voter requested a <b>call back</b> at another time.** </label><br /><br>
    
    <input type="radio" name="result" id="Soft Decline" value="SD" />
    <label for="SD"> The voter <b>declined</b> to take the survey. (Soft Decline) </label><br /><br>
    
    <input type="radio" name="result" id="Hard Decline" value="HD" />
    <label for="HD"> The voter <b><i>adamantly</i> declined</b> to take the survey. (Hard Decline) </label><br /><br>
    
    <input type="radio" name="result" id="Disconnected" value="DC" />
    <label for="DC"> This was an <b>invalid phone number</b>. (Wrong number, disconnected, not in service, etc.) </label>
<br><br>
<input type="submit" value="Submit" />
</form>
<br>** If the voter requested a callback at a specific time, please note their name and ID number before clicking "submit"
and give that information to the supervisor. Voters can only be called while phone banks are open (3-9pm on weekdays, 9am-9pm
on Saturdays.)<br><br>
{% endif %}


{% if user.is_staff and voter.is_held is False and not voter.call_seven and not voter.took_survey and voter.valid_phone%}

<hr>

<h2><u>Supervisor Tools: Place a Temporary Hold*</u></h2>
<form action="{% url 'voters:placehold' voter.id %}" method="post">
{% csrf_token %}
    <input type="radio" name="hold" id="One Day" value="1" />
    <label for="1">One Day (24 Hour) Hold</label><br />
    
    <input type="radio" name="hold" id="Two Day" value="2" />
    <label for="2">Two Day (48 Hour) Hold </label><br />
    
    <input type="radio" name="hold" id="Three Day" value="3" />
    <label for="3">Three Day (72 Hour) Hold</label><br />
    
    <input type="radio" name="hold" id="Four Day" value="4" />
    <label for="4">Four Day (96 Hour) Hold</label><br />
    
    <input type="radio" name="hold" id="Five Day" value="5" />
    <label for="5">Five Day (120  Hour) Hold</label><br />
    
    <input type="radio" name="hold" id="Six Day" value="6" />
    <label for="6">Six Day (144 Hour) Hold</label><br />
    
    <input type="radio" name="hold" id="Seven Day" value="7" />
    <label for="7">Seven Day (178 Hour) Hold</label>
<br><br>
<input type="submit" value="Place Hold" /><br><br>

*Placing a hold doesn't prevent a person from being called via the "lookup" function; it only prevents them from being placed in the
pool of people to be called with the "Make A Call" button. Place a hold on someone if they request a callback at a certain time to make sure they aren't
called sooner than they requested.
{% endif %}


  
  
{% endblock content%}
