{% extends "base.html" %}

{% block content%}
<h2>Instructions</h2>
(If this is your first time logging in, go to "Account" and change your password before following these steps.)<br><br>
<ol>
    <li>Go to exitpollhours.byu.edu and clock in. This is what we use to determine the extra credit we report to your professor.</li><br><br>
    <li>Open the Qualtrics survey (link in the navigation bar above) in a new tab.</li><br><br>
    <li>When you are ready, click the "Make a Call" button above.</li><br><br>
    <li>Copy and paste the voter's ID Number into the Qualtrics Survey. (<u>Important:</u> Copy and paste the voter's
    ID number, do not type it out. The ID number must be <u>exactly</u> right for the data to be useful to us.</li><br><br><br>
    <li>After you've entered the voter's ID number into Qualtrics, call the voter and follow the script to ask for
    their participation.</li><br><br>
    <li>After the call ends, come back to this system and record what happened when you called the voter.</li><br><br>
    
    <br><br><br>
    <b>Remember:</b> Do everything you can, while respecting the voluntary nature of the survey, to resolve voter's concerns and
    help them feel comfertable taking the survey. <i>For every voter that declines to take the survey, our data becomes less
    accurate.</i>
    <br><br>
    Don't forget: this survey is <b>voluntary</b>, <b>anonymous</b>, and the answers will be kept
    <b>confidential</b>.
</ol>
{% endblock content%}
