<!DOCTYPE html>
    
<head>
<title>UCEP Contact Generator</title>
<script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<html lang="en">
<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0B0694;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li b {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a:hover:not(.active) {
    background-color: #940648;
}


</style>
<body>

<ul>
  <li><b>UCEP 2016 Contact Generator</b></li>
  {% if user.is_authenticated %} 
  <li><a href="{% url 'voters:instructions' %}">Instructions</a></li>
  <li><a href="https://byu.az1.qualtrics.com/SE/?SID=SV_0PnCqqbkg0nv9J3" target="_blank">Qualtrics Survey</a></li>
  <li><a href="{% url 'voters:random' %}">Make a Call &#x260E</a></li>
  <li><a href="{% url 'voters:lookup' %}">Lookup a Voter</a></li>
  <li><a href="{% url 'account:accountdetail' %}">Account ({{user.get_full_name}})</a></li>
  {% if user.is_staff %} 
  <li><a href="{% url 'administration:index' %}">Supervisors</a></li>
  {% endif %} 
  <li><a href="{% url 'account:logout' %}">Logout</a></li>
  {% endif %} 
</ul>
</body>
<br>{% block content %}{% endblock %}
</html>