{% extends "base.html" %}

{% block content%}

<h2><u>Supervisor Tools</u></h2>



<b>Export Contract Generator Information to CSV (Coming in a Later Release)</b><br><br>

<b>Print Emergancy Call Sheets (Coming in a Later Release)</b><br><br>

<a href="{% url 'admin:index' %}">Access Users / Database</a><br><br>

<hr>


<h2><u>Response Rate Overview</u></h2>
<b>Current Overall Response Rate (All Waves): {{voters_took_survey.count}}/{{voters.count}} ({{response_rate}}%) </b>
<br><br><u>Number of Potential Respondents in Wave One</u>: {{ voters_waveone.count }} <br>
        &nbsp; &nbsp; &nbsp; &nbsp;Response Rate for Wave One: {{w1_voters_took_survey.count}}/{{voters_waveone.count}} ({{w1_response_rate}}%)<br>
        &nbsp; &nbsp; &nbsp; &nbsp;# of Wave One phone participants: {{w1_phone.count}}<br>
        &nbsp; &nbsp; &nbsp; &nbsp;# of Wave One online participants: {{w1_internet.count}} <br>
<br><br><u>Number of Potential Respondents in Wave Two</u>: {{ voters_wavetwo.count }} <br>
        &nbsp; &nbsp; &nbsp; &nbsp;Response Rate for Wave One: {{w2_voters_took_survey.count}}/{{voters_wavetwo.count}} ({{w2_response_rate}}%)<br>
        &nbsp; &nbsp; &nbsp; &nbsp;# of Wave One phone participants: {{w2_phone.count}}<br>
        &nbsp; &nbsp; &nbsp; &nbsp;# of Wave One online participants: {{w2_internet.count}} 

{% endblock content%}